@mixin response($breakpoint) {
  @if ($breakpoint == xl) {
    @media (max-width: 1200px) {
      @content;
    }
  }

  @if ($breakpoint == lg) {
    @media (max-width: 1000px) {
      @content;
    }
  }

  @if ($breakpoint == md) {
    @media (max-width: 760px) {
      @content;
    }
  }

  @if ($breakpoint == sm) {
    @media (max-width: 560px) {
      @content;
    }
  }
}

@mixin singleLineText() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin multiLineText($no_of_lines) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $no_of_lines;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin gridLayout() {
  display: grid;
  // grid-template-rows: auto auto auto auto;
  // grid-template-columns: auto auto auto auto;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(360px, 1fr));

  grid-column-gap: initial;
  gap: 24px;
  align-content: center;
  list-style-type: none;
  margin: 24px;
}
