<div class="container">
    <div class="socialconnect">
        <span>Get connect with us on social network</span>
        <div class="socialicons">

        </div>
    </div>
    <div class="footer-body">
        <div class="companyinfo">
            <h1>DnyaneshK</h1>
            <span class="footer-desc-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam, accusamus. Perferendis, reiciendis fugiat a doloribus ex consequatur eius! Sed dignissimos praesentium perferendis eligendi illo, rem beatae nobis itaque quam quasi, voluptatum incidunt. Ipsam, necessitatibus nulla animi ut sequi corporis iste.</span>
        </div>
        <ul class="ul-products">
            <div class="products">
                <h1>Products</h1>
                <li>Product1</li>
                <li>Product1</li>
                <li>Product1</li>
                <li>Product1</li>
                <li>Product1</li>
                <li>Product1</li>
                <li>Product1</li>
            </div>
        </ul>
        <ul class="ul-products">
            <div class="usefullinks">
                <h1>Useful links</h1>
                <li>Link 1</li>
                <li>Link 1</li>
                <li>Link 1</li>
                <li>Link 1</li>
                <li>Link 1</li>
                <li>Link 1</li>
                <li>Link 1</li>
            </div>
        </ul>
        <div class="contact">
            <h1>Contact Info</h1>
            <div class="address">

            </div>
        </div>
    </div>
    <div class="copyright">
        <span>@2024 Copyright : Practice Project by DnyaneshK</span>
    </div>
</div>
